.idea/inspectionProfiles/profiles_settings.xml
.idea/GeneralCounter.iml
.idea/misc.xml
__pycache__/pokemonMethodClass.cpython-39.pyc
__pycache__/UI.cpython-39.pyc
__pycache__/UImethods.cpython-39.pyc
venv/
bin/dump.txt
